/* Resetting default styles */
body, html, #root {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: white;
  padding-top: 5px;
  font-size: 1.5em;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.logo img {
  height: 70px; /* Adjust height as needed */
  width: auto;
}

.header .menu-bar ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.header .menu-bar ul li {
  cursor: pointer;
  color: white;
}

/* Main Content Layout */
.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* Left Sidebar */
.left-sidebar {
  width: 20%;
  background-color: #f4f4f4;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.left-sidebar ul {
  list-style: none;
  padding: 0;
}

.left-sidebar ul li {
  padding: 8px 10px;
  margin: 5px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
  text-align: center;
}

/* Workstation */
/* Main workstation container */
.workstation {
  flex: 1; /* Take up all available space */
  display: flex;
  flex-direction: column; /* Stack content vertically */
  padding: 20px;
  background-color: #fdfdfd; /* Neutral background */
  overflow-y: auto; /* Enable scrolling if content overflows */
  height: 100%; /* Ensure it fills the parent container */
}

.workstation h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.workstation input.title-input {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%; /* Stretch to full width */
  box-sizing: border-box;
}

.workstation .react-quill {
  flex: 1; /* Allow editor to grow and fill remaining space */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.workstation .react-quill:focus {
  outline: none; /* Remove focus outline for cleaner UI */
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

.toggle-button-container {
  margin: 20px 0;
}

.toggle-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.toggle-button:hover {
  background-color: #218838;
}

@media (max-width: 600px) {
  .right-panel {
    width: 90%;
  }
  
  .journal-list ul {
    flex-direction: column;
    align-items: center;
  }
  
  .journal-list button {
    min-width: 80%;
  }
}